APP_ENV=dev
SENTRY_DSN=
ENABLE_ANALYTICS=false
ENABLE_CRASH_REPORTING=false
FIREBASE_API_KEY=AIzaSyBwaJiABL8up_2ZdVfT4sORzB3mwJPfvKE
FIREBASE_APP_ID=1:766440816611:android:30d20c1f5800e61f12aad6
FIREBASE_MESSAGING_SENDER_ID=766440816611
FIREBASE_PROJECT_ID=habitshare-65ed9
FCM_SERVICE_ACCOUNT_JSON_PATH=./firebase-service-account.json
